src/main/resources/oc-xml.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.drfits.com/schema/oc"
           xmlns="https://www.drfits.com/schema/oc"
           elementFormDefault="qualified">
    <xs:simpleType name="GUID">
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ACPI">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Patch">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Count" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="Find" type="xs:base64Binary"/>
                                                    <xs:element name="Limit" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="Mask" type="xs:base64Binary"/>
                                                    <xs:element name="OemTableId" type="xs:base64Binary"/>
                                                    <xs:element name="Replace" type="xs:base64Binary"/>
                                                    <xs:element name="ReplaceMask" type="xs:base64Binary"/>
                                                    <xs:element name="Skip" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="TableLength" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="TableSignature" type="xs:base64Binary"/>
                                                </xs:sequence>
                                                <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="Comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Delete">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="All" type="xs:boolean"/>
                                                    <xs:element name="OemTableId" type="xs:base64Binary"/>
                                                    <xs:element name="TableLength" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="TableSignature" type="xs:base64Binary"/>
                                                </xs:sequence>
                                                <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="Comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Add">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="Comment" type="xs:string"/>
                                                <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="Path" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                                <xs:unique name="acpi-add-uniqueAddPath">
                                    <xs:selector xpath="./*"/>
                                    <xs:field xpath="@Path"/>
                                </xs:unique>
                            </xs:element>
                            <xs:element name="Quirks">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FadtEnableReset" type="xs:boolean"/>
                                        <xs:element name="NormalizeHeaders" type="xs:boolean"/>
                                        <xs:element name="RebaseRegions" type="xs:boolean"/>
                                        <xs:element name="ResetHwSig" type="xs:boolean"/>
                                        <xs:element name="ResetLogoStatus" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Booter">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MmioWhitelist">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="Comment" type="xs:string" use="required"/>
                                                <xs:attribute name="Address" type="xs:nonNegativeInteger" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Quirks">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AvoidRuntimeDefrag" type="xs:boolean"/>
                                        <xs:element name="DevirtualiseMmio" type="xs:boolean"/>
                                        <xs:element name="DisableSingleUser" type="xs:boolean"/>
                                        <xs:element name="DisableVariableWrite" type="xs:boolean"/>
                                        <xs:element name="DiscardHibernateMap" type="xs:boolean"/>
                                        <xs:element name="EnableSafeModeSlide" type="xs:boolean"/>
                                        <xs:element name="EnableWriteUnprotector" type="xs:boolean"/>
                                        <xs:element name="ForceExitBootServices" type="xs:boolean"/>
                                        <xs:element name="ProtectMemoryRegions" type="xs:boolean"/>
                                        <xs:element name="ProtectSecureBoot" type="xs:boolean"/>
                                        <xs:element name="ProtectUefiServices" type="xs:boolean"/>
                                        <xs:element name="ProvideCustomSlide" type="xs:boolean"/>
                                        <xs:element name="ProvideMaxSlide">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:nonNegativeInteger">
                                                    <xs:minInclusive value="0"/>
                                                    <xs:maxInclusive value="254"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="RebuildAppleMemoryMap" type="xs:boolean"/>
                                        <xs:element name="SetupVirtualMap" type="xs:boolean"/>
                                        <xs:element name="SignalAppleOS" type="xs:boolean"/>
                                        <xs:element name="SyncRuntimePermissions" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DeviceProperties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Add">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="device" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="prop" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="key" use="required">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:minLength value="1"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="path" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                            <xs:unique name="device-properties-add-unique-devicePath">
                                                <xs:selector xpath="./*"/>
                                                <xs:field xpath="@path"/>
                                            </xs:unique>
                                            <xs:unique name="device-properties-add-unique-prop-type">
                                                <xs:selector xpath="./*"/>
                                                <xs:field xpath="@key"/>
                                            </xs:unique>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Delete">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="device" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="prop" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="key" use="required">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:minLength value="1"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="path" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                            <xs:unique name="device-properties-delete-unique-devicePath">
                                                <xs:selector xpath="./*"/>
                                                <xs:field xpath="@path"/>
                                            </xs:unique>
                                            <xs:unique name="device-properties-delete-unique-prop-type">
                                                <xs:selector xpath="./*"/>
                                                <xs:field xpath="@key"/>
                                            </xs:unique>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Kernel">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Add">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Arch">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="Any"/>
                                                                <xs:enumeration value="i386"/>
                                                                <xs:enumeration value="x86_64"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="BundlePath" type="xs:string"/>
                                                    <xs:element name="ExecutablePath" type="xs:string"/>
                                                    <xs:element name="MaxKernel" type="xs:string"/>
                                                    <xs:element name="MinKernel" type="xs:string"/>
                                                    <xs:element name="PlistPath" type="xs:string"/>
                                                </xs:sequence>
                                                <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="Comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Block">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Arch">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="Any"/>
                                                                <xs:enumeration value="i386"/>
                                                                <xs:enumeration value="x86_64"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="Identifier" type="xs:string"/>
                                                    <xs:element name="MaxKernel" type="xs:string"/>
                                                    <xs:element name="MinKernel" type="xs:string"/>
                                                </xs:sequence>
                                                <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="Comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Emulate">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Cpuid1Data" type="xs:base64Binary"/>
                                        <xs:element name="Cpuid1Mask" type="xs:base64Binary"/>
                                        <xs:element name="DummyPowerManagement" type="xs:boolean"/>
                                        <xs:element name="MaxKernel" type="xs:string"/>
                                        <xs:element name="MinKernel" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Force">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Arch">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="Any"/>
                                                                <xs:enumeration value="i386"/>
                                                                <xs:enumeration value="x86_64"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="BundlePath" type="xs:string"/>
                                                    <xs:element name="Identifier" type="xs:string"/>
                                                    <xs:element name="ExecutablePath" type="xs:string"/>
                                                    <xs:element name="MaxKernel" type="xs:string"/>
                                                    <xs:element name="MinKernel" type="xs:string"/>
                                                    <xs:element name="PlistPath" type="xs:string"/>
                                                </xs:sequence>
                                                <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="Comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Patch">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Arch">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="Any"/>
                                                                <xs:enumeration value="i386"/>
                                                                <xs:enumeration value="x86_64"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="Base" type="xs:string"/>
                                                    <xs:element name="Count" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="Find" type="xs:base64Binary"/>
                                                    <xs:element name="Identifier" type="xs:string"/>
                                                    <xs:element name="Limit" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="Mask" type="xs:base64Binary"/>
                                                    <xs:element name="MaxKernel" type="xs:string"/>
                                                    <xs:element name="MinKernel" type="xs:string"/>
                                                    <xs:element name="Replace" type="xs:base64Binary"/>
                                                    <xs:element name="ReplaceMask" type="xs:base64Binary"/>
                                                    <xs:element name="Skip" type="xs:nonNegativeInteger"/>
                                                </xs:sequence>
                                                <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="Comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Quirks">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AppleCpuPmCfgLock" type="xs:boolean"/>
                                        <xs:element name="AppleXcpmCfgLock" type="xs:boolean"/>
                                        <xs:element name="AppleXcpmExtraMsrs" type="xs:boolean"/>
                                        <xs:element name="AppleXcpmForceBoost" type="xs:boolean"/>
                                        <xs:element name="CustomSMBIOSGuid" type="xs:boolean"/>
                                        <xs:element name="DisableIoMapper" type="xs:boolean"/>
                                        <xs:element name="DisableLinkeditJettison" type="xs:boolean"/>
                                        <xs:element name="DisableRtcChecksum" type="xs:boolean"/>
                                        <xs:element name="ExtendBTFeatureFlags" type="xs:boolean"/>
                                        <xs:element name="ExternalDiskIcons" type="xs:boolean"/>
                                        <xs:element name="IncreasePciBarSize" type="xs:boolean"/>
                                        <xs:element name="LapicKernelPanic" type="xs:boolean"/>
                                        <xs:element name="LegacyCommpage" type="xs:boolean"/>
                                        <xs:element name="PanicNoKextDump" type="xs:boolean"/>
                                        <xs:element name="PowerTimeoutKernelPanic" type="xs:boolean"/>
                                        <xs:element name="ThirdPartyDrives" type="xs:boolean"/>
                                        <xs:element name="XhciPortLimit" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Scheme">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FuzzyMatch" type="xs:boolean"/>
                                        <xs:element name="KernelArch">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Any"/>
                                                    <xs:enumeration value="i386"/>
                                                    <xs:enumeration value="i386-user32"/>
                                                    <xs:enumeration value="x86_64"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="KernelCache">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Auto"/>
                                                    <xs:enumeration value="Cacheless"/>
                                                    <xs:enumeration value="Mkext"/>
                                                    <xs:enumeration value="Prelinked"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Misc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Boot">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ConsoleAttributes" type="xs:nonNegativeInteger"/>
                                        <xs:element name="HibernateMode">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="None"/>
                                                    <xs:enumeration value="Auto"/>
                                                    <xs:enumeration value="RTC"/>
                                                    <xs:enumeration value="NVRAM"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="HideAuxiliary" type="xs:boolean"/>
                                        <xs:element name="PickerAttributes" type="xs:nonNegativeInteger"/>
                                        <xs:element name="PickerAudioAssist" type="xs:boolean"/>
                                        <xs:element name="PollAppleHotKeys" type="xs:boolean"/>
                                        <xs:element name="ShowPicker" type="xs:boolean"/>
                                        <xs:element name="TakeoffDelay" type="xs:nonNegativeInteger"/>
                                        <xs:element name="Timeout" type="xs:nonNegativeInteger"/>
                                        <xs:element name="PickerMode">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Builtin"/>
                                                    <xs:enumeration value="External"/>
                                                    <xs:enumeration value="Apple"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BlessOverride">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="path" minOccurs="0" maxOccurs="unbounded">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Debug">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AppleDebug" type="xs:boolean"/>
                                        <xs:element name="ApplePanic" type="xs:boolean"/>
                                        <xs:element name="DisableWatchDog" type="xs:boolean"/>
                                        <xs:element name="DisplayDelay" type="xs:nonNegativeInteger"/>
                                        <xs:element name="DisplayLevel" type="xs:nonNegativeInteger"/>
                                        <xs:element name="SerialInit" type="xs:boolean"/>
                                        <xs:element name="SysReport" type="xs:boolean"/>
                                        <xs:element name="Target" type="xs:nonNegativeInteger"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Entries">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Arguments" type="xs:string"/>
                                                    <xs:element name="Auxiliary" type="xs:boolean"/>
                                                    <xs:element name="Comment" type="xs:string"/>
                                                    <xs:element name="Path">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="Name" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Security">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AllowNvramReset" type="xs:boolean"/>
                                        <xs:element name="AllowSetDefault" type="xs:boolean"/>
                                        <xs:element name="ApECID" type="xs:nonNegativeInteger"/>
                                        <xs:element name="AuthRestart" type="xs:boolean"/>
                                        <xs:element name="BootProtect">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="None"/>
                                                    <xs:enumeration value="Bootstrap"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="DmgLoading">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Disabled"/>
                                                    <xs:enumeration value="Signed"/>
                                                    <xs:enumeration value="Any"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="EnablePassword" type="xs:boolean"/>
                                        <xs:element name="ExposeSensitiveData" type="xs:nonNegativeInteger"/>
                                        <xs:element name="HaltLevel" type="xs:nonNegativeInteger"/>
                                        <xs:element name="PasswordHash" type="xs:base64Binary"/>
                                        <xs:element name="PasswordSalt" type="xs:base64Binary"/>
                                        <xs:element name="Vault">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Optional"/>
                                                    <xs:enumeration value="Basic"/>
                                                    <xs:enumeration value="Secure"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ScanPolicy" type="xs:nonNegativeInteger"/>
                                        <xs:element name="SecureBootModel">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Default"/>
                                                    <xs:enumeration value="Disabled"/>
                                                    <xs:enumeration value="j137"/>
                                                    <xs:enumeration value="j680"/>
                                                    <xs:enumeration value="j132"/>
                                                    <xs:enumeration value="j174"/>
                                                    <xs:enumeration value="j140k"/>
                                                    <xs:enumeration value="j780"/>
                                                    <xs:enumeration value="j213"/>
                                                    <xs:enumeration value="j140a"/>
                                                    <xs:enumeration value="j152f"/>
                                                    <xs:enumeration value="j160"/>
                                                    <xs:enumeration value="j230k"/>
                                                    <xs:enumeration value="j214k"/>
                                                    <xs:enumeration value="j223"/>
                                                    <xs:enumeration value="j215"/>
                                                    <xs:enumeration value="j185"/>
                                                    <xs:enumeration value="j185f"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tools">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Arguments" type="xs:string"/>
                                                    <xs:element name="Auxiliary" type="xs:boolean"/>
                                                    <xs:element name="Comment" type="xs:string"/>
                                                    <xs:element name="Path">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="Name" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="NVRAM">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Add">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="key" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="prop" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="key" use="required">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:minLength value="1"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                    <xs:attribute name="type" use="required">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:enumeration value="data"/>
                                                                                <xs:enumeration value="string"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="value" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="GUID">
                                                            <xs:minLength value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Delete">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="key" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="prop" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="value" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="GUID">
                                                            <xs:minLength value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="LegacyEnable" type="xs:boolean"/>
                            <xs:element name="LegacyOverwrite" type="xs:boolean"/>
                            <xs:element name="LegacySchema">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="key" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="prop" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="value" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="GUID">
                                                            <xs:minLength value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="WriteFlash" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>