src/main/resources/oc-xml.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.drfits.com/schema/oc"
           xmlns="https://www.drfits.com/schema/oc"
           elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="acpi">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="patch">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="count" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="find" type="xs:base64Binary"/>
                                                    <xs:element name="limit" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="mask" type="xs:base64Binary"/>
                                                    <xs:element name="oemTableId" type="xs:base64Binary"/>
                                                    <xs:element name="replace" type="xs:base64Binary"/>
                                                    <xs:element name="replaceMask" type="xs:base64Binary"/>
                                                    <xs:element name="skip" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="tableLength" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="tableSignature" type="xs:base64Binary"/>
                                                </xs:sequence>
                                                <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="delete">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="all" type="xs:boolean"/>
                                                    <xs:element name="oemTableId" type="xs:base64Binary"/>
                                                    <xs:element name="tableLength" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="tableSignature" type="xs:base64Binary"/>
                                                </xs:sequence>
                                                <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="add">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="comment" type="xs:string"/>
                                                <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="path" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                                <xs:unique name="acpi-add-uniqueAddPath">
                                    <xs:selector xpath="./*"/>
                                    <xs:field xpath="@path"/>
                                </xs:unique>
                            </xs:element>
                            <xs:element name="quirks">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="fadtEnableReset" type="xs:boolean"/>
                                        <xs:element name="normalizeHeaders" type="xs:boolean"/>
                                        <xs:element name="rebaseRegions" type="xs:boolean"/>
                                        <xs:element name="resetHwSig" type="xs:boolean"/>
                                        <xs:element name="resetLogoStatus" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="booter">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mmioWhitelist">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="enabled" type="xs:boolean"/>
                                                <xs:attribute name="comment" type="xs:string"/>
                                                <xs:attribute name="address" type="xs:nonNegativeInteger"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="quirks">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="avoidRuntimeDefrag" type="xs:boolean"/>
                                        <xs:element name="devirtualiseMmio" type="xs:boolean"/>
                                        <xs:element name="disableSingleUser" type="xs:boolean"/>
                                        <xs:element name="disableVariableWrite" type="xs:boolean"/>
                                        <xs:element name="discardHibernateMap" type="xs:boolean"/>
                                        <xs:element name="enableSafeModeSlide" type="xs:boolean"/>
                                        <xs:element name="enableWriteUnprotector" type="xs:boolean"/>
                                        <xs:element name="forceExitBootServices" type="xs:boolean"/>
                                        <xs:element name="protectMemoryRegions" type="xs:boolean"/>
                                        <xs:element name="protectSecureBoot" type="xs:boolean"/>
                                        <xs:element name="protectUefiServices" type="xs:boolean"/>
                                        <xs:element name="provideCustomSlide" type="xs:boolean"/>
                                        <xs:element name="provideMaxSlide">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:nonNegativeInteger">
                                                    <xs:minInclusive value="0"/>
                                                    <xs:maxInclusive value="254"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="rebuildAppleMemoryMap" type="xs:boolean"/>
                                        <xs:element name="setupVirtualMap" type="xs:boolean"/>
                                        <xs:element name="signalAppleOS" type="xs:boolean"/>
                                        <xs:element name="syncRuntimePermissions" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="deviceProperties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="add">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="device" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="prop" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="key" use="required">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:minLength value="1"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="path" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                            <xs:unique name="device-properties-add-unique-devicePath">
                                                <xs:selector xpath="./*"/>
                                                <xs:field xpath="@path"/>
                                            </xs:unique>
                                            <xs:unique name="device-properties-add-unique-prop-type">
                                                <xs:selector xpath="./*"/>
                                                <xs:field xpath="@key"/>
                                            </xs:unique>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="delete">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="device" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="prop" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="key" use="required">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:minLength value="1"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="path" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                            <xs:unique name="device-properties-delete-unique-devicePath">
                                                <xs:selector xpath="./*"/>
                                                <xs:field xpath="@path"/>
                                            </xs:unique>
                                            <xs:unique name="device-properties-delete-unique-prop-type">
                                                <xs:selector xpath="./*"/>
                                                <xs:field xpath="@key"/>
                                            </xs:unique>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="kernel">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="add">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="arch">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="Any"/>
                                                                <xs:enumeration value="i386"/>
                                                                <xs:enumeration value="x86_64"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="bundlePath" type="xs:string"/>
                                                    <xs:element name="executablePath" type="xs:string"/>
                                                    <xs:element name="maxKernel" type="xs:string"/>
                                                    <xs:element name="minKernel" type="xs:string"/>
                                                    <xs:element name="plistPath" type="xs:string"/>
                                                </xs:sequence>
                                                <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="block">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="arch">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="Any"/>
                                                                <xs:enumeration value="i386"/>
                                                                <xs:enumeration value="x86_64"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="identifier" type="xs:string"/>
                                                    <xs:element name="maxKernel" type="xs:string"/>
                                                    <xs:element name="minKernel" type="xs:string"/>
                                                </xs:sequence>
                                                <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="emulate">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cpuid1Data" type="xs:base64Binary"/>
                                        <xs:element name="cpuid1Mask" type="xs:base64Binary"/>
                                        <xs:element name="dummyPowerManagement" type="xs:boolean"/>
                                        <xs:element name="maxKernel" type="xs:string"/>
                                        <xs:element name="minKernel" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="force">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="arch">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="Any"/>
                                                                <xs:enumeration value="i386"/>
                                                                <xs:enumeration value="x86_64"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="bundlePath" type="xs:string"/>
                                                    <xs:element name="identifier" type="xs:string"/>
                                                    <xs:element name="executablePath" type="xs:string"/>
                                                    <xs:element name="maxKernel" type="xs:string"/>
                                                    <xs:element name="minKernel" type="xs:string"/>
                                                    <xs:element name="plistPath" type="xs:string"/>
                                                </xs:sequence>
                                                <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="patch">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="arch">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="Any"/>
                                                                <xs:enumeration value="i386"/>
                                                                <xs:enumeration value="x86_64"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="base" type="xs:string"/>
                                                    <xs:element name="count" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="find" type="xs:base64Binary"/>
                                                    <xs:element name="identifier" type="xs:string"/>
                                                    <xs:element name="limit" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="mask" type="xs:base64Binary"/>
                                                    <xs:element name="maxKernel" type="xs:string"/>
                                                    <xs:element name="minKernel" type="xs:string"/>
                                                    <xs:element name="replace" type="xs:base64Binary"/>
                                                    <xs:element name="replaceMask" type="xs:base64Binary"/>
                                                    <xs:element name="skip" type="xs:nonNegativeInteger"/>
                                                </xs:sequence>
                                                <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="quirks">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="appleCpuPmCfgLock" type="xs:boolean"/>
                                        <xs:element name="appleXcpmCfgLock" type="xs:boolean"/>
                                        <xs:element name="appleXcpmExtraMsrs" type="xs:boolean"/>
                                        <xs:element name="appleXcpmForceBoost" type="xs:boolean"/>
                                        <xs:element name="customSMBIOSGuid" type="xs:boolean"/>
                                        <xs:element name="disableIoMapper" type="xs:boolean"/>
                                        <xs:element name="disableLinkeditJettison" type="xs:boolean"/>
                                        <xs:element name="disableRtcChecksum" type="xs:boolean"/>
                                        <xs:element name="extendBTFeatureFlags" type="xs:boolean"/>
                                        <xs:element name="externalDiskIcons" type="xs:boolean"/>
                                        <xs:element name="increasePciBarSize" type="xs:boolean"/>
                                        <xs:element name="lapicKernelPanic" type="xs:boolean"/>
                                        <xs:element name="legacyCommpage" type="xs:boolean"/>
                                        <xs:element name="panicNoKextDump" type="xs:boolean"/>
                                        <xs:element name="powerTimeoutKernelPanic" type="xs:boolean"/>
                                        <xs:element name="thirdPartyDrives" type="xs:boolean"/>
                                        <xs:element name="xhciPortLimit" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="scheme">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="fuzzyMatch" type="xs:boolean"/>
                                        <xs:element name="kernelArch">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Any"/>
                                                    <xs:enumeration value="i386"/>
                                                    <xs:enumeration value="i386-user32"/>
                                                    <xs:enumeration value="x86_64"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="kernelCache">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Auto"/>
                                                    <xs:enumeration value="Cacheless"/>
                                                    <xs:enumeration value="Mkext"/>
                                                    <xs:enumeration value="Prelinked"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Misc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Boot">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ConsoleAttributes" type="xs:nonNegativeInteger"/>
                                        <xs:element name="HibernateMode">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="None"/>
                                                    <xs:enumeration value="Auto"/>
                                                    <xs:enumeration value="RTC"/>
                                                    <xs:enumeration value="NVRAM"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="HideAuxiliary" type="xs:boolean"/>
                                        <xs:element name="PickerAttributes" type="xs:nonNegativeInteger"/>
                                        <xs:element name="PickerAudioAssist" type="xs:boolean"/>
                                        <xs:element name="PollAppleHotKeys" type="xs:boolean"/>
                                        <xs:element name="ShowPicker" type="xs:boolean"/>
                                        <xs:element name="TakeoffDelay" type="xs:nonNegativeInteger"/>
                                        <xs:element name="Timeout" type="xs:nonNegativeInteger"/>
                                        <xs:element name="PickerMode">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Builtin"/>
                                                    <xs:enumeration value="External"/>
                                                    <xs:enumeration value="Apple"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BlessOverride">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="path" minOccurs="0" maxOccurs="unbounded">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Debug">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AppleDebug" type="xs:boolean"/>
                                        <xs:element name="ApplePanic" type="xs:boolean"/>
                                        <xs:element name="DisableWatchDog" type="xs:boolean"/>
                                        <xs:element name="DisplayDelay" type="xs:nonNegativeInteger"/>
                                        <xs:element name="DisplayLevel" type="xs:nonNegativeInteger"/>
                                        <xs:element name="SerialInit" type="xs:boolean"/>
                                        <xs:element name="SysReport" type="xs:boolean"/>
                                        <xs:element name="Target" type="xs:nonNegativeInteger"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Entries">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Arguments" type="xs:string"/>
                                                    <xs:element name="Auxiliary" type="xs:boolean"/>
                                                    <xs:element name="Comment" type="xs:string"/>
                                                    <xs:element name="Path">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="Name" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Security">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AllowNvramReset" type="xs:boolean"/>
                                        <xs:element name="AllowSetDefault" type="xs:boolean"/>
                                        <xs:element name="ApECID" type="xs:nonNegativeInteger"/>
                                        <xs:element name="AuthRestart" type="xs:boolean"/>
                                        <xs:element name="BootProtect">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="None"/>
                                                    <xs:enumeration value="Bootstrap"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="DmgLoading">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Disabled"/>
                                                    <xs:enumeration value="Signed"/>
                                                    <xs:enumeration value="Any"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="EnablePassword" type="xs:boolean"/>
                                        <xs:element name="ExposeSensitiveData" type="xs:nonNegativeInteger"/>
                                        <xs:element name="HaltLevel" type="xs:nonNegativeInteger"/>
                                        <xs:element name="PasswordHash" type="xs:base64Binary"/>
                                        <xs:element name="PasswordSalt" type="xs:base64Binary"/>
                                        <xs:element name="Vault">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Optional"/>
                                                    <xs:enumeration value="Basic"/>
                                                    <xs:enumeration value="Secure"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ScanPolicy" type="xs:nonNegativeInteger"/>
                                        <xs:element name="SecureBootModel">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Default"/>
                                                    <xs:enumeration value="Disabled"/>
                                                    <xs:enumeration value="j137"/>
                                                    <xs:enumeration value="j680"/>
                                                    <xs:enumeration value="j132"/>
                                                    <xs:enumeration value="j174"/>
                                                    <xs:enumeration value="j140k"/>
                                                    <xs:enumeration value="j780"/>
                                                    <xs:enumeration value="j213"/>
                                                    <xs:enumeration value="j140a"/>
                                                    <xs:enumeration value="j152f"/>
                                                    <xs:enumeration value="j160"/>
                                                    <xs:enumeration value="j230k"/>
                                                    <xs:enumeration value="j214k"/>
                                                    <xs:enumeration value="j223"/>
                                                    <xs:enumeration value="j215"/>
                                                    <xs:enumeration value="j185"/>
                                                    <xs:enumeration value="j185f"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tools">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Arguments" type="xs:string"/>
                                                    <xs:element name="Auxiliary" type="xs:boolean"/>
                                                    <xs:element name="Comment" type="xs:string"/>
                                                    <xs:element name="Path">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="Name" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>