src/main/resources/oc-xml.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.drfits.com/schema/oc"
           xmlns="https://www.drfits.com/schema/oc"
           elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="acpi">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="patch">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="count" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="find" type="xs:base64Binary"/>
                                                    <xs:element name="limit" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="mask" type="xs:base64Binary"/>
                                                    <xs:element name="oemTableId" type="xs:base64Binary"/>
                                                    <xs:element name="replace" type="xs:base64Binary"/>
                                                    <xs:element name="replaceMask" type="xs:base64Binary"/>
                                                    <xs:element name="skip" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="tableLength" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="tableSignature" type="xs:base64Binary"/>
                                                </xs:sequence>
                                                <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="delete">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="all" type="xs:boolean"/>
                                                    <xs:element name="oemTableId" type="xs:base64Binary"/>
                                                    <xs:element name="tableLength" type="xs:nonNegativeInteger"/>
                                                    <xs:element name="tableSignature" type="xs:base64Binary"/>
                                                </xs:sequence>
                                                <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="comment" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="add">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="comment" type="xs:string"/>
                                                <xs:attribute name="enabled" type="xs:boolean" use="required"/>
                                                <xs:attribute name="path" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                                <xs:unique name="acpi-add-uniqueAddPath">
                                    <xs:selector xpath="./*"/>
                                    <xs:field xpath="@path"/>
                                </xs:unique>
                            </xs:element>
                            <xs:element name="quirks">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="fadtEnableReset" type="xs:boolean"/>
                                        <xs:element name="normalizeHeaders" type="xs:boolean"/>
                                        <xs:element name="rebaseRegions" type="xs:boolean"/>
                                        <xs:element name="resetHwSig" type="xs:boolean"/>
                                        <xs:element name="resetLogoStatus" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="booter">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mmioWhitelist">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dict" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="enabled" type="xs:boolean"/>
                                                <xs:attribute name="comment" type="xs:string"/>
                                                <xs:attribute name="address" type="xs:nonNegativeInteger"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="quirks">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="avoidRuntimeDefrag" type="xs:boolean" default="true"/>
                                        <xs:element name="devirtualiseMmio" type="xs:boolean"/>
                                        <xs:element name="disableSingleUser" type="xs:boolean"/>
                                        <xs:element name="disableVariableWrite" type="xs:boolean"/>
                                        <xs:element name="discardHibernateMap" type="xs:boolean"/>
                                        <xs:element name="enableSafeModeSlide" type="xs:boolean" default="true"/>
                                        <xs:element name="enableWriteUnprotector" type="xs:boolean" default="true"/>
                                        <xs:element name="forceExitBootServices" type="xs:boolean"/>
                                        <xs:element name="protectMemoryRegions" type="xs:boolean"/>
                                        <xs:element name="protectSecureBoot" type="xs:boolean"/>
                                        <xs:element name="protectUefiServices" type="xs:boolean"/>
                                        <xs:element name="provideCustomSlide" type="xs:boolean" default="true"/>
                                        <xs:element name="provideMaxSlide" default="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:nonNegativeInteger">
                                                    <xs:minInclusive value="0"/>
                                                    <xs:maxInclusive value="254"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="rebuildAppleMemoryMap" type="xs:boolean"/>
                                        <xs:element name="setupVirtualMap" type="xs:boolean" default="true"/>
                                        <xs:element name="signalAppleOS" type="xs:boolean"/>
                                        <xs:element name="syncRuntimePermissions" type="xs:boolean"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="deviceProperties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="add">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="device" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="prop" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="key" use="required">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:minLength value="1"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="path" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                            <xs:unique name="device-properties-add-unique-devicePath">
                                                <xs:selector xpath="./*"/>
                                                <xs:field xpath="@path"/>
                                            </xs:unique>
                                            <xs:unique name="device-properties-add-unique-prop-type">
                                                <xs:selector xpath="./*"/>
                                                <xs:field xpath="@key"/>
                                            </xs:unique>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="delete">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="device" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="prop" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="key" use="required">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:minLength value="1"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="path" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                            <xs:unique name="device-properties-delete-unique-devicePath">
                                                <xs:selector xpath="./*"/>
                                                <xs:field xpath="@path"/>
                                            </xs:unique>
                                            <xs:unique name="device-properties-delete-unique-prop-type">
                                                <xs:selector xpath="./*"/>
                                                <xs:field xpath="@key"/>
                                            </xs:unique>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>